## Assignment No : 16

#### Q1.Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [6]:
year_list = []
n = 1999
i=0
while True : 
    year_list.append(n+i)
    if (n+i)== (n+5): 
        break 
        
    i += 1    
print(year_list)

[1999, 2000, 2001, 2002, 2003, 2004]

#### Q2.In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [7]:
print("My third birthday is in year ",year_list[3])

My third birthday is in year  2002

#### Q3.In the years list, which year were you the oldest?

In [8]:
print("The year in which i am oldest is ",year_list[-1])

The year in which i am oldest is  2004

#### Q4.Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;, &quot;salmonella&quot;.

In [13]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

#### Q5.Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [15]:
for i in range(len(things)): 
    things[i] = things[i].capitalize()
    
print(things)

['Mozzarella', 'Cinderella', 'Salmonella']

#### Q6.Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [17]:
surprise = ["Groucho" ,"Chico" , "Harpo"]
print(surprise)

['Groucho', 'Chico', 'Harpo']

#### Q7.Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [23]:
lower_last = surprise[-1].lower()
print("After Lowercasing the last word in list  : " ,lower_last)
rev_last = lower_last[::-1]
print("After reversing the same word : ",rev_last)
cap_last = rev_last.capitalize()
print("After Capitalizing the same word : " ,cap_last)

After Lowercasing the last word in list  :  harpo
After reversing the same word :  oprah
After Capitalizing the same word :  Oprah

#### Q8.Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [24]:
print("English to french dictionary : ")
e2f = {"dog":"chien","cat":"chat","walrus":"morse"}
print(e2f)

English to french dictionary :
{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

#### Q9.Write the French word for walrus in your three-word dictionary e2f.

In [25]:
print("French wor for walrus is : ",e2f["walrus"])

French wor for walrus is :  morse

#### Q10.Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [27]:
print("French to English Dictionary : ")
f2e = dict()

for key,value in e2f.items(): 
    f2e[value] = key
    
print(f2e)

French to English Dictionary :
{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

#### Q11.Print the English version of the French word chien using f2e.

In [28]:
print("English version of French word chien is : ",f2e["chien"])

English version of French word chien is :  dog

#### Q12.Make and print a set of English words from the keys in e2f.

In [37]:
print(set(e2f.keys()))

{'cat', 'dog', 'walrus'}

#### Q13.Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;, and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and &#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;. Make all the other keys refer to empty dictionaries.

In [47]:
life = {"animals":{"cats":['Henri','Grumpy','Lucy'],"octopi":None,"emus":None} ,"planets":None ,"other":None }
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': None, 'emus': None}, 'planets': None, 'other': None}

#### Q14.Print the top-level keys of life.

In [49]:
print("Top level Keys are : ")
for i in life : 
    print(i)

Top level Keys are :
animals
planets
other

#### Q15.Print the keys for life[&#39;animals&#39;].

In [51]:
print("The keys for life['animals'] are : ")
for  i in life["animals"]: 
    print(i)

The keys for life['animals'] are :
cats
octopi
emus

#### Q16.Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [52]:
for i in life['animals']['cats'] : 
    print(i)

Henri
Grumpy
Lucy