## Assignment No. 20

#### Q1.Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'
test = open('test.txt','w')
test.write(test1)
test.close()

#### Q2.Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
test = open("test.txt",'r')
test2 = test.read()
print(test2)
test.close()

This is a test of the emergency text system

There is no difference between test1 and test2 variable

#### Q3.Create a CSV file called books.csv by using these lines:
#### title,author,year
#### The Weirdstone of Brisingamen,Alan Garner,1960
#### Perdido Street Station,China Miéville,2000
#### Thud!,Terry Pratchett,2005
#### The Spellman Files,Lisa Lutz,2007
#### Small Gods,Terry Pratchett,1992

In [ ]:
import csv 

head = ['title','author','year']
data = [
        ['The Weirdstone of Brisingamen','Alan Garner',1960],
        ['Perdido Street Station','China Miéville',2000],
        ['Thud!','Terry Pratchett',2005],
        ['The Spellman Files','Lisa Lutz',2007],
        ['Small Gods','Terry Pratchett',1992]
    ]

books = open("books.csv",'w', encoding = 'UTF8',newline='')
writer = csv.writer(books)
writer.writerow(head)
writer.writerows(data)
books.close()

#### Q4.Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [5]:
import sqlite3

db = sqlite3.connect('books.db')
cur = db.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS books (title VARCHAR(30),author VARCHAR(30),year INT)")
db.close()

#### Q5.Read books.csv and insert its data into the book table.

In [6]:
import csv 
book = open('books.csv','r',encoding='UTF8')
data = csv.reader(book)
l1 = [] 
for row in data :
    l1.append(row)
    
l1

[['title', 'author', 'year'],
 ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
 ['Perdido Street Station', 'China Miéville', '2000'],
 ['Thud!', 'Terry Pratchett', '2005'],
 ['The Spellman Files', 'Lisa Lutz', '2007'],
 ['Small Gods', 'Terry Pratchett', '1992']]

In [7]:
a,b,c,d,e,f = l1
a = tuple(a)
b = tuple(b)
c = tuple(c)
d = tuple(d)
e = tuple(e)
f = tuple(f)
rows = [b,c,d,e,f]

In [8]:
rows

[('The Weirdstone of Brisingamen', 'Alan Garner', '1960'),
 ('Perdido Street Station', 'China Miéville', '2000'),
 ('Thud!', 'Terry Pratchett', '2005'),
 ('The Spellman Files', 'Lisa Lutz', '2007'),
 ('Small Gods', 'Terry Pratchett', '1992')]

In [9]:
# inserting data into books database
import sqlite3 
db = sqlite3.connect('books.db')
cur = db.cursor()
cur.executemany("INSERT INTO books ('title','author','year') VALUES (?,?,?) ",rows)
db.commit()

In [10]:
import sqlite3
connection_obj = sqlite3.connect('books.db')
cursor_obj = connection_obj.cursor()
statement = '''SELECT * FROM books'''
cursor_obj.execute(statement)
output = cursor_obj.fetchall()
for row in output:
     print(row)
connection_obj.commit()
connection_obj.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

#### Q6.Select and print the title column from the book table in alphabetical order.

In [14]:
import sqlite3
db = sqlite3.connect("books.db")
cur = db.cursor()
cur.execute("SELECT title FROM books ORDER BY title ")
data = cur.fetchall()
for i in data : 
    print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

#### Q7.From the book table, select and print all columns in the order of publication.

In [15]:
import sqlite3
db = sqlite3.connect("books.db")
cur = db.cursor()
cur.execute("SELECT * FROM books ORDER BY year ")
data = cur.fetchall()
for i in data : 
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

#### Q8.Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [1]:
!pip install sqlalchemy
!pip install PyMySQL

Requirement already satisfied: sqlalchemy in f:\anaconda\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in f:\anaconda\lib\site-packages (from sqlalchemy) (1.1.1)

In [20]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

#### Q9.Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [22]:
!pip install redis

Requirement already satisfied: redis in f:\anaconda\lib\site-packages (4.3.4)
Requirement already satisfied: async-timeout>=4.0.2 in f:\anaconda\lib\site-packages (from redis) (4.0.2)
Requirement already satisfied: deprecated>=1.2.3 in f:\anaconda\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: packaging>=20.4 in f:\anaconda\lib\site-packages (from redis) (21.3)
Requirement already satisfied: wrapt<2,>=1.10 in f:\anaconda\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in f:\anaconda\lib\site-packages (from packaging>=20.4->redis) (3.0.4)

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

#### Q10.Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)