## Programming Assignment No 4

#### Q1.Write a Python Program to Find the Factorial of a Number?

In [2]:
def fact(n): 
    if n ==1 or n == 0 : 
        return 1 
    else : 
        return (n*fact(n-1))
    
fact(5)

120

#### Q2.Write a Python Program to Display the multiplication Table?

In [10]:
def table(n): 
    for i in range(1,11): 
        print("{} x {} = {}".format(n,i,n*i) )
                 
table(15)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

#### Q3.Write a Python Program to Print the Fibonacci sequence?

In [18]:
def fibonacii(n): 
    if n == 1 or n == 2 : 
        return 1 
    elif n < 0 : 
        print("Please enter a valid number")
        
    elif n==0 : 
        return 0 
    else : 
        return fibonacii(n-1) + fibonacii(n-2)
    
fibonacii(10)

55

#### Q4.Write a Python Program to Check Armstrong Number?

In [43]:
def armstrong(n): 
    n = str(n)
    sum = 0 
    for i in range(len(n)): 
        sum = sum + int(n[i])**3
        
    if sum == int(n): 
        print("{} is a Armstrong Number ".format(n))
        
    else : 
        print("{} is not an Armstrong Number ".format(n))
        
        
armstrong(15)

15 is not an Armstrong Number

#### Q5.Write a Python Program to Find Armstrong Number in an Interval?

In [44]:
def armstrong(n): 
    n = str(n)
    sum = 0 
    for i in range(len(n)): 
        sum = sum + int(n[i])**3
        
    if sum == int(n): 
        return n
    
# armstrong Number between 0 to 20000
        
list(filter(armstrong,range(20000)))

[0, 1, 153, 370, 371, 407]

#### Q6.Write a Python Program to Find the Sum of Natural Numbers?

In [47]:
def sum_of_number(n): 
    if n <= 1 : 
        print("Please enter Natural Number only")
    else : 
        return n*(n+1)/2
        
sum_of_number(100)

5050.0